{{ $images := slice }}
{{ if eq .Layout "from-text-file" }}
  {{ $imagesList := .Resources.GetMatch "images.txt" }}
  {{ if $imagesList }}
    {{ $imagesURLs := split $imagesList.Content "\n" }}
    {{ range $imagesURLs }}
      {{ if . }}
        {{ with try (resources.GetRemote .) }}
          {{ with .Err }}
            {{ warnf "Error fetching %s: %s" . .Err }}
          {{ else with .Value }}
            {{ $img := . | resources.Copy (printf "%s%s" $.File.Dir .Name) }}
            {{ $images = $images | append $img }}
          {{ else }}
            {{ warnf "Unable to get remote resource %q" . }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ warnf "No images.txt found for %s" .RelPermalink }}
  {{ end }}
{{ else if eq .Kind "term" }}
  {{ range .Pages }}
    {{ with partial "galleriesdeluxe/get-gallery.html" . }}
      {{ $images = $images | append .images }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $images = .Resources.ByType "image" }}
{{ end }}

{{ $gallery := dict "images" $images "page" . "first" .Params.first }}

{{ with $images }}
  {{ $first := "" }}
  {{ with $.Params.featured }}
    {{ $featured := . }}
    {{ $featuredBase := path.Base $featured }}
    {{ $featuredExt := path.Ext $featuredBase }}
    {{ $featuredName := strings.TrimSuffix $featuredExt $featuredBase }}
    {{ range $images }}
      {{ $imgBase := path.Base .Name }}
      {{ $imgExt := path.Ext $imgBase }}
      {{ if and (strings.Contains $imgBase $featuredName) (eq $imgExt $featuredExt) }}
        {{ $first = . }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if not $first }}
    {{ $id := $.RelPermalink | hash.FNV32a }}
    {{ $idx := mod $id (len .) }}
    {{ $first = index . $idx }}
  {{ end }}

  {{ $thumbFilters := slice
    images.AutoOrient
    (images.Process "resize 400x webp")
  }}
  {{ $gallery = merge $gallery (dict "thumb" ($first | images.Filter $thumbFilters)) }}

  {{ $processedImages := slice }}
  {{ if eq $.Kind "term" }}
    {{ $processedImages = . }}
  {{ else }}
    {{ $processedImages = . }}
  {{ end }}
  {{ $gallery = merge $gallery (dict "images" $processedImages) }}
{{ end }}

{{ return $gallery }}
