{{ $pages := .Pages }}
{{ $gallery_section := site.Params.galleriesdeluxe.gallery_section | default (site.Params.galleriesdeluxe.galleries_alias | default "galleries") }}
{{ if .IsHome }}
  {{ with site.GetPage $gallery_section }}
    {{ $pages = .RegularPagesRecursive }}
  {{ end }}
{{ end }}

<div class="galleries">
  {{ $first_gallery := slice }}
  {{ $other_galleries := slice }}
  {{ range $pages }}
    {{ $gallery_data := partial "galleriesdeluxe/get-gallery.html" . }}
    {{ if and $gallery_data $gallery_data.thumb }}
      {{ if eq $gallery_data.first true }}
        {{ $first_gallery = $first_gallery | append $gallery_data }}
      {{ else }}
        {{ $other_galleries = $other_galleries | append $gallery_data }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ $sorted_galleries := $first_gallery | append $other_galleries }}

  {{ range $sorted_galleries }}
    <div class="card">
      <a class="card-img" href="{{ .page.RelPermalink }}">
        <img
          src="{{ .thumb.RelPermalink }}"
          alt="{{ .thumb.Name }}"
          class=""
          width="{{ .thumb.Width }}"
          height="{{ .thumb.Height }}" />
        <span class="num-photos"
          >{{ .images | len }} {{ T "photo" ( .images | len) }}</span
        >
      </a>
      <div class="body">
        <h2>
          <a href="{{ .page.RelPermalink }}">{{ .page.LinkTitle }}</a>
        </h2>
        <p>
          {{ .page.Summary }}
        </p>
      </div>
    </div>
  {{ end }}
</div>

{{ $galleryData := partial "galleriesdeluxe/get-gallery.html" . }}
{{ if $galleryData.images }}
  {{ $gallery := partial "gallerydeluxe/init.html" (dict "images" $galleryData.images) }}
  {{ $params := site.Params.gallerydeluxe }}
  {{ $pinnedClass := $galleryData.pinnedClass }}
  <div id="gallerydeluxe" data-gd-image-data-url="{{ $gallery.imageDataUrl }}" class="{{ $pinnedClass }}">
    <div id="gd-modal" class="gd-modal">
      <span id="gd-modal-close" class="gd-modal-close">&times;</span>
      {{ if $params.enable_exif }}
        <div id="gd-modal-exif" class="gd-modal-exif"></div>
      {{ end }}
    </div>
  </div>
{{ end }}
