{{ define "main" }}
  {{ $gallery_section := site.Params.galleriesdeluxe.gallery_section | default (site.Params.galleriesdeluxe.galleries_alias | default "galleries") }}
  {{ $is_gallery_listing := or .IsHome (and (eq .Kind "section") (eq .Section $gallery_section)) (eq .Kind "taxonomy") }}
  {{ if $is_gallery_listing }}
    <div class="galleries">
      {{ $pages := .Pages }}
      {{ if or .IsHome (and (eq .Kind "section") (eq .Section $gallery_section)) }}
        {{ with site.GetPage $gallery_section }}
          {{ $pages = .RegularPagesRecursive }}
        {{ end }}
      {{ end }}

      {{ $first_gallery := slice }}
      {{ $other_galleries := slice }}
      {{ range $pages }}
        {{ $gallery_data := partial "galleriesdeluxe/get-gallery.html" . }}
        {{ if and $gallery_data $gallery_data.thumb }}
          {{ if eq $gallery_data.first true }}
            {{ $first_gallery = $first_gallery | append $gallery_data }}
          {{ else }}
            {{ $other_galleries = $other_galleries | append $gallery_data }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ $sorted_galleries := $first_gallery | append $other_galleries }}

      {{ range $sorted_galleries }}
        <div class="card">
          <a class="card-img" href="{{ .page.RelPermalink }}">
            <img
              src="{{ .thumb.RelPermalink }}"
              alt="{{ .thumb.Name }}"
              class=""
              width="{{ .thumb.Width }}"
              height="{{ .thumb.Height }}" />
            <span class="num-photos"
              >{{ .images | len }} {{ T "photo" ( .images | len) }}</span
            >
          </a>

          <div class="body">
            <h2>
              <a href="{{ .page.RelPermalink }}">{{ .page.LinkTitle }}</a>
            </h2>
            <p>
              {{ .page.Summary }}
            </p>
          </div>
        </div>
      {{ end }}
    </div>
  {{ else }}
    <div class="markdown-body">
      {{ .Content }}
    </div>
  {{ end }}
{{ end }}
