{{ $gallery := dict "images" (slice) }}
{{ $images := slice }}
{{ $thumb := "" }}

{{ if or (eq .Layout "from-text-file") (eq .Layout "submission-from-text-file" ) }}
  {{ $imagesList := .Resources.GetMatch "images.txt" }}
  {{ if $imagesList }}
    {{ $imagesURLs := split $imagesList.Content "\n" }}
    {{ range $imagesURLs }}
      {{ with try (resources.GetRemote .) }}
        {{ with .Err }}
          {{ warnf "Error fetching %s: %s" . .Err }}
        {{ else with .Value }}
          {{ $img := . | resources.Copy (printf "%s%s" $.File.Dir .Name) }}
          {{ $images = $images | append $img }}
        {{ else }}
          {{ warnf "Unable to get remote resource %q" . }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ warnf "No images.txt found for %s" .RelPermalink }}
  {{ end }}
{{ else if eq .Kind "term" }}
  {{ range .Pages }}
    {{ with partial "galleriesdeluxe/get-gallery.html" . }}
      {{ $images = $images | append .images }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $images = (.Resources.ByType "image") }}
{{ end }}

{{ with $images }}

  {{/* Determine first image if set in Markdown frontmatter */}}
  {{ $first := "" }}
  {{ with $.Params.featured }}
    {{ $featured := . }}
    {{ $featuredBase := path.Base $featured }}
    {{ $featuredExt := path.Ext $featuredBase }}
    {{ $featuredName := strings.TrimSuffix $featuredExt $featuredBase }}
    {{ range $images }}
      {{ $imgBase := path.Base .Name }}
      {{ $imgExt := path.Ext $imgBase }}
      {{ if and (strings.Contains $imgBase $featuredName) (eq $imgExt $featuredExt) }}
        {{ $first = . }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* Determine list of filters to be applied in Image Processing pipeline */}}
  {{/* Define default list of filters for fullsize images */}}
  {{ $fullsizeFilters := slice
    images.AutoOrient
    (images.Process "webp")
  }}

  {{/* Define default list of thumbnail filters */}}
  {{ $thumbFilters := slice
    images.AutoOrient
    (images.Process "resize 400x webp")
  }}

  {{ $submissionFilters := slice }}
  {{ if or (eq $.Kind "submission") (eq $.Kind "submission-from-text-file" ) }}
    {{/* Filename as caption text for images in submission galleries */}}
    {{ $submissionFilename := . }}
    {{ $submissionFilenameBase := path.Base $submissionFilename }}
    {{ $submissionFilenameExt := path.Ext $submissionFilenameBase }}
    {{ $submissionFilenameName := strings.TrimSuffix $submissionFilenameExt $submissionFilenameBase }}
    {{ $text := T $submissionFilenameName }}

    {{/* Options for caption text for images in submission galleries */}}
    {{ $opts := dict
      "alignx" "center"
      "aligny" "bottom"
      "color" "#000000"
      "size" 10
    }}

    {{/* Filters for submission galleries */}}
    {{ $submissionFilters := slice
      images.AutoOrient
      (images.Padding 40 40 "#ffffff")
      (images.Text $text $opts)
      (images.Process "webp")
    }}
  {{ end }}

  {{/* Run Image Processing pipeline */}}
  {{ with $first }}
    {{ $thumb := images.Filter $thumbFilters . }}
    {{ if or (eq $.Kind "submission") (eq $.Kind "submission-from-text-file" ) }}
      {{ $first := images.Filter $submissionFilters . }}
    {{ else }}
      {{ $first := images.Filter $fullsizeFilters . }}
    {{ end }}

  {{ else }}
    {{ $id := $.RelPermalink | hash.FNV32a }}
    {{ $idx :=  mod $id (len $images) }}
    {{ $first := index $images $idx }}
    {{ $thumb := images.Filter $thumbFilters $first }}
  {{ end }}

  {{/* Generate gallery */}}
  {{ $processedImages := slice }}
  {{ if or (eq $.Kind "submission") (eq $.Kind "submission-from-text-file" ) }}
    {{ $sub := images.Filter $submissionFilters . }}
    {{ $processedImages = $processedImages | append $sub }}
  {{ else if eq $.Kind "term" }}
    {{ $processedImages = $images }}
  {{ else }}
    {{ $fs := images.Filter $fullsizeFilters . }}
    {{ $processedImages = $processedImages | append $fs }}
  {{ end }}
  {{ $gallery = dict
    "page" $
    "images" $processedImages
    "thumb" $thumb
    "first" $.Params.first
  }}

{{ end }}
{{ return $gallery }}
